
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Product - Women</title>
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    <link rel="stylesheet" href="/css/product/product.css">
    <link rel="stylesheet" href="/css/product/men.css">
  </head>
  <body>
    <div class="header_wraper">
      <div class="header container_center">
        <div class="logo">
          <!-- <a href="#"><img src="images/logo.png" alt="Logo" /></a> -->
					<a href="#"><h2>Clothing Brand</h2></a>
				</div>

				<div class="social_media">
          
				</div>
			</div>
		</div>

    <div class="nav_wraper">
			<div class="nav container_center">
				<div class="menu_left">
						<ul>
							<li><a href="/home/home" id="active" >Home</a></li>
							<li><a href="/product/product">Products</a></li>
						</ul>
				</div>

				<div class="menu_right">
					<ul>
						<li><a href="/signup/signup"> &#x27A4; Signup</a></li>
						<li><a href="/login/login"> &#x27A4; Login</a></li>
					</ul>
				</div>
      </div>
    </div>

    <div class="footer_wraper">
     	<div class="footer">
        	<div class="footer_top">
          		<div class="top container_center">
  				  	<div class="footer_top_part">
						<div class="footer_top_title_part1">
							<h1 class="">Women Collection</h1>
						</div>
						<div class="cloth_mwk">
							<div class="cloth_mwk_part">
								<div class="cloth_mwk_part2">

								<div class="mwk_img">	
									<a href="/product/women/women1"><img class="mwk_imgs" src="/images/product/women/1.jpg"></a>	
								</div>
								<div class="mwk_img">	
									<a href="/product/women/women2"><img class="mwk_imgs" src="/images/product/women/2.jpg"></a>	
								</div>
								<div class="mwk_img">	
									<a href="/product/women/women3"><img class="mwk_imgs" src="/images/product/women/3.jpg"></a>	
								</div>
								<div class="mwk_img">	
									<a href="/product/women/women4"><img class="mwk_imgs" src="/images/product/women/4.jpg"></a>	
								</div>
							</div>
						</div>
						<div class="cloth_mwk">
								<div class="cloth_mwk_part">
									<div class="cloth_mwk_part2">
	
									<div class="mwk_img">	
										<a href="/product/women/women5"><img class="mwk_imgs" src="/images/product/women/5.jpg"></a>	
									</div>
									<div class="mwk_img">	
										<a href="/product/women/women6"><img class="mwk_imgs" src="/images/product/women/6.jpg"></a>	
									</div>
									<div class="mwk_img">	
										<a href="/product/women/women7"><img class="mwk_imgs" src="/images/product/women/7.jpg"></a>	
									</div>
									<div class="mwk_img">	
										<a href="/product/women/women8"><img class="mwk_imgs" src="/images/product/women/8.jpg"></a>	
									</div>
								</div>
							</div>
						</div>
						
					</div>					
				</div>
  			</div>
  			<div class="footer_bottom">
  			  	<div class=" bottom container_center">
  				  	<p>Copyright 2018-19 &copy; ClothingBrand.com <br/> &reg All Right Reserved</p>
  	  			</div>
  			</div>
  		</div>
  	</div>
  </body>
</html>
